head
  title Karaoke
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
  block scripts
    link(rel='stylesheet', href='/css/main.css')
    if view == 'player'
      link(rel='stylesheet', href='/css/player.css')
    else if view == 'index'
      link(rel='stylesheet', href='/css/index.css')
    script(src='/js/_cookie.js')