doctype html
html
    include includes/head.pug
    body
        main.full-vh
            div#booker-container
        style.
            main {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            main > * {
                flex: 1;
            }
        script(src="/js/KaraokeBooker.js")
        script(src="/js/WS.js")
        script.
            /* websocket */
            const ws = new KaraokeWS('!{host}');
            ws.onMessage(function(event){
            let res = JSON.parse(event.data);
                if(res.type == 'status' && res.body == 1) console.log('ordered');
            });
            const kbooker = new KaraokeBooker(document.querySelector('#booker-container'), ws);    