doctype html
html
    include includes/head.pug
    body
        main.full-vh(prompt=''+prompt)
            div#booker-container
        script(src="/js/KaraokeBooker.js")
        script(src="/js/KaraokeRemoteBooker.js")
        script(src="/js/WS.js")
        script.
            /* websocket */
            const k_booker = new KaraokeRemoteBooker(document.querySelector('#booker-container'), '!{host}', '!{keyword}');   
        include includes/foot.pug 