doctype html
html
    include includes/head.pug
    body
        main
            div#controls-container
                input#song-input(type="text")
                button#submit 點歌
        script(src="/js/WS.js")
        script.
            /* websocket */
            const ws = new KaraokeWS('!{host}');
            ws.onMessage(function(event){
                let res = JSON.parse(event.data);
                if(res.type == 'status' && res.body == 1) console.log('ordered');
            });

            let song_input = document.getElementById('song-input');
            let submit = document.getElementById('submit');
            submit.addEventListener('click', ()=>{
                let msg = {'type': 'book', 'body': song_input.value};
                ws.send(JSON.stringify(msg));
            });