doctype html
html
    include includes/head.pug
    body.viewing-auth-youtube-mask
        div#auth-youtube-mask.viewport-mask.full-vh.full-vw
            div#auth-youtube-btn.btn(onclick="authenticate()") 點我開始
        main
            div#karaoke-container
        script(src="/js/KaraokePlayer.js")
        script(src="/js/KaraokeBooker.js")
        script(src="/js/KaraokeLocalBooker.js")
        script.
            let sKaraoke_container = document.getElementById('karaoke-container');
            const kplayer = new KaraokePlayer(sKaraoke_container);    
            const kbooker = new KaraokeLocalBooker(kplayer.els.karaoke_controls_container, '!{host}', kplayer);    
            function onYouTubeIframeAPIReady() {
                for(let i = 0; i < kplayer.player_num; i++) {
                    kplayer.players[i] = new YT.Player('player-' + (i + 1), {
                        height: '100%',
                        width: '100%',
                        events: {
                            'onReady': kplayer.onPlayerReady.bind(kplayer),
                            'onStateChange': kplayer.onPlayerStateChange.bind(kplayer)
                        }
                    });
                }
            }
            let client;
            document.body.classList.remove('viewing-auth-youtube-mask');
    
        include includes/foot.pug
