:root {
    --blue: #1441e2;
    --grey: #2d2d2d;
    --red: #e2134e;
    --pink: #ed9a9a;
    --text: #0a4433;
    /* --text: #2d2d2d; */
    --bg: #d1d1d1;
    /* --bg: #ffffff; */
    --padding: 14px;
}
* {
    margin: 0;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
    font-family: sans-serif; 
    background-color: var(--bg);
    color: var(--text);
    -webkit-text-stroke-width: 0.03em;
    /* -webkit-text-stroke-color: var(--text); */
}
h1, h2, p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
}
.full-vh{
    height: 100vh;
}
.full-vw{
    width: 100vw;
    max-width: 100%;
}

.viewport-mask {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
#auth-youtube-mask {
    display: none;
}


.viewing-auth-youtube-mask #auth-youtube-mask {
    display: block;
}
.large-input {
    font-size: 1rem;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
input {
    /* border-radius: 15px; */
    /* border: 1px solid  var(--text); */
    border: none;
}
input:focus,
button:focus {
    outline: none;
}
button, .btn {
    font-size: 1rem;
    padding: 10px;
    appearance: none;
    color: #ffffff;
    background-color: var(--text);
    border:1px solid var(--text);
    border: none;
    -webkit-text-stroke-width: 0.01em;
    border-radius: 15px;
    cursor: pointer;
}
.popped {
    transform: translate(0, -8px);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.8);
    border-color: #fff;
}
/* main {
    display: flex;
} */

/* booker */
[data-role="booker-container"] {
    /* display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    justify-content: end; */
}

.input-wrapper {
    position: relative;
}
.song-input {
    padding-right: 28px;
}
/* #search-youtube-button {
    width: 240px;
    max-width: 100%;
} */
#karaoke-booker-pa {
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--padding);
    background-color: var(--text);
    margin-top: 0;
    transform: translate(0, -100%);
    transition: transform 0.35s;
}
.viewing-pa #karaoke-booker-pa {
    transform: translate(0, 0);
}